fastapi>=0.95.1
uvicorn
pydantic[dotenv]~=1.10.6
httpx>=0.24.0
aiobotocore[awscli]~=2.5.0
python-multipart
google-cloud-storage
gcloud-aio-storage
aiohttp

# linters, formatters, tests
black
flake8
flake8-print
Flake8-pyproject
isort
mypy>=1.2.0
coverage>=7.2.3
pytest>=7.3.1
pytest-asyncio